<div class="wrapper-calendar">

  <div class="calendar-container">
    <div class="calendar-header">
      <!-- <div class="button previous">
        <button (click)="changeMonth(-1)" class="btn btn-prev"><ng-icon name="bootstrapChevronLeft"></ng-icon></button>
      </div> -->
      <div class="month-title">{{dateSelect | date:'MMMM, yyyy'}}</div>
      <!-- <div class="button next">
        <button (click)="changeMonth(1)" class="btn btn-next"><ng-icon name="bootstrapChevronRight"></ng-icon></button>
      </div> -->

    </div>

    <div class="body-calendar">
      <div *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</div>

      <div (click)="clickDay(day)" 
      class="number-day" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
        *ngFor="let day of monthSelect;let first = first">
        <span>{{day?.value}}</span>
    </div>
    </div>
  </div>

  <div>
    <hr>
  </div>

  <div>
    Fecha: {{dateValue | date}}
  </div>
</div>